.popup__button-save {
  background: #000;
  color: #fff;
  min-height: 50px;
  margin: 18px 36px 37px;
  padding: 14px 18px;
  border: 2px solid rgb(0,0,0);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.3s linear;
  border-radius: 2px;
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button-save:disabled {
  background: #fff;
  color: rgb(0,0,0, 0.2);
  border: 2px solid rgb(0,0,0, 0.2);
  cursor: default;
}

@media all and (max-width: 1279px) {
  .popup__button-save {
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 22px 25px 22px;
    min-height: 46px;
  }
}
