.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background: url('../../../images/button-cross.svg') no-repeat center;
  align-self: center;
  transition: opacity 0.3s linear;
}

.profile__button-add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (max-width: 1279px) {
  .profile__button-add {
    width: 282px;
    margin: 32px auto 0;
    background-size: 16px 16px;

  }
}
