.popup__button-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  border-style: none;
  background: url('../../../images/button-close.svg') no-repeat center;
  transition: opacity 0.3s linear;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (max-width: 1279px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
