.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  color: black;
  margin: 195px auto;
  border-radius: 10px;
}

@media all and (max-width: 1279px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    margin-bottom: 123px;
  }
}
